@using LotometroPortal.Entities


<div class="row">
    <div class="col-5">
        &copy; @UriPathsAndConsts.portalName - @DateTime.Now.Year.
    </div>
    <div class="col-7 text-right">
        Todos os direitos reservados.
    </div>
</div>

