@*<div id="blanket"></div>
<div id="aguarde" class="row flex-column justify-content-center align-items-center">
    <div class="col">
        
    </div>
</div>*@

<div id="box-load">
    <div id="pre-loading">
        <div class="row">
            <div class="col text-center">
                <img class="animation__shake" src="~/img/lotometro-full-logo.png" width="240">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="h4 text-secondary">Carregando, aguarde...</p>
            </div>
        </div>
        
    </div>
</div>